$mainColor: #ff0000;

// 애니메이션 시작 때 적용할 CSS
.wow-enter {
  opacity: 0;
}

// 애니메이션 동작 때 적용할 CSS
.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}

.red {
  color: $mainColor;
}

.my-alert {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
  p {
    margin-bottom: 0;
  }
}

.my-alert2 {
  @extend .my-alert;
  background-color: #ffe591;
}

@mixin name {

}